<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <title>Austin: the Programmer</title>

        <!-- Bootstrap -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="programmer">

        <div id="root">
            <p v-for="message in history" :class="message.class" v-cloak>{{message.message}}</p>
            <input type="text" id="response" v-model="response" @keyup.enter.native="handleInput">

        </div>

        <!-- =======================SCRIPTS======================== -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/vue-dev.js"></script>

        <script>
            new Vue({
                el: "#root",
                data: {
                    prompts: [],
                    userMessages: [],
                    response: "",
                    cvLink: "assets/docs/AustinDunn_CV.pdf",
                    githubLink: "https://github.com/austindunn",
                    options: "* view CV\n* view GitHub"
                },

                methods: {
                    handleInput() {
                        var response = this.response;
                        this.response = '';

                        this.userMessages.push(response);

                        if (response.match(/.*cv.*/i) !== null) {
                            window.location.href = this.cvLink;
                            this.prompts.push("\nThere you go! Please check your downloads folder.\n" +
                                "Is there anything else you would like to do?\n" +
                                this.options);
                            this.activateTextInput();
                        } else if (response.match(/.*(gh|github).*/i) !== null) {
                            this.prompts.push("\nI'll send you there in a couple seconds... See you next time!");
                            setTimeout(() => window.location.href = this.githubLink, 2000);
                        } else {
                            this.prompts.push("\nSorry, I didn't quite understand that. Please tell me what you would like to do:\n" +
                                this.options);
                            this.activateTextInput();
                        }
                    },

                    activateTextInput() {
                        this.$nextTick(() => {
                            this.scrollToBottom();
                            $("#response").focus();
                        });
                    },

                    scrollToBottom() {
                        $(document).scrollTop($(document).height());
                    },
                },

                computed: {
                    history() {
                        var history = [];

                        for (var i = 0; i < this.prompts.length; i++) {
                            history.push({message: this.prompts[i], class: "prompt"});

                            // userMessages will always have either the same length or one less than prompts
                            if (typeof this.userMessages[i] !== 'undefined')
                                history.push({message: this.userMessages[i], class: "user-message"});
                        }

                        return history;
                    }
                },

                created: function() {
                    this.prompts[this.prompts.length] = "Welcome to the programming page!\n\n" +
                        "Please let me know what you'd like to do, among the following options:\n" +
                        this.options;
                    this.activateTextInput();
                }
            })
        </script>
    </body>
</html>

